PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/livora?schema=public"
JWT_SECRET="livora_jwt_secret_key_2026_super_secure_key"
JWT_REFRESH_SECRET="livora_jwt_refresh_secret_key_2026_super_secure_key"
FRONTEND_URL="http://localhost:5173"
